/* styles.css */

.content {
  display: flex;
}

.sidebar {
  width: 200px;
  margin-right: 20px;
}

.filter-container {
  display: flex;
  flex-direction: column;
  gap: 30vh;
  /* 카테고리와 정렬 버튼 사이에 간격 추가 */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #7E05FE;
  border-radius: 10px;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100%;
  /* 버튼의 너비를 100%로 설정 */
  box-sizing: border-box;
  /* 패딩과 보더를 포함한 너비 계산 */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
  /* 드롭다운의 너비를 부모 요소와 동일하게 설정 */
  z-index: 1;
  box-sizing: border-box;
  /* 패딩과 보더를 포함한 너비 계산 */
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
  /* 드롭다운 항목의 너비를 100%로 설정 */
  box-sizing: border-box;
  /* 패딩과 보더를 포함한 너비 계산 */
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #6904D9;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  /* 2열로 버튼 생성 */
  gap: 10px;
  flex-grow: 1;
}

.custom-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border: none;
  border-radius: 10px;
  /* 모서리 둥글게 처리 */
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: calc(100% - 20px);
  margin-left: auto;
  margin-bottom: 5vh;
}

.custom-button:hover {
  background-color: #f0f0f0;
}

.button-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* 이미지가 왼쪽으로 정렬되도록 설정 */
  justify-content: center;
}

.image {
  width: 60%;
  height: auto;
  margin-bottom: 10px;
}

.category {
  color: #007bff;
}

.title {
  margin-bottom: 5px;
  font-weight: bold;
}

.content {
  margin-bottom: 5px;
  text-align: center;
}

.details {
  font-size: 0.8rem;
  color: #666666;
  text-align: center;
}