body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}
.selection {
    min-height:100%;
    position: relative;
    border: 8px solid #7E05FE; /* 보더 스타일 및 색상 설정 */
    border-left: 15px solid #7E05FE; /* 왼쪽 선 굵기 설정 */
    border-right: 15px solid #7E05FE; /* 오른쪽 선 굵기 설정 */
    border-radius: 20px; /* 내부 테두리에 둥근 모서리 적용 */
    margin-top: 30px;
}

.branch {
    display: flex;
    margin-top:30px;
}

.branch h2 {
    color: #7E05FE;
    margin-left:auto;
}

table {
    border-collapse: collapse;
    width: 80%;
    table-layout: fixed;
    margin:auto;
}
th, td {
    border: 2px solid #7E05FE;
    padding: 8px;
    text-align: center;
}

td.selected {
    background-color: #F3E6FF;
}

.region {
    display: flex;
    margin-top:30px;
}

.region h2 {
    color: #7E05FE;
    margin-left:auto;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    margin-bottom: 30px; /* 아래쪽 여백 추가 */
    margin-right: 70px; /* 오른쪽 여백 추가 */
 }

.button-container button {
    background-color: #7E05FE; 
    border: none;
    color: white;
    padding: 5px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}

.ShowInfo {
    height:100%;
    display: none; /* 초기에는 숨겨진 상태로 설정 */
    flex-direction: column;
    min-height: calc(100% - 30px);
}

select{
    color:#7E05FE;
    border: 2px solid #7E05FE;
    width: 130px;
    height: 30px;
    margin-left: 20px;
    text-align: center;
    font-weight: bold;
}


.Info {
    display: flex;
    margin-left:50px;
    margin-right:50px;
    align-items: center; /* 수직 가운데 정렬 */
    background-color: rgba(217, 217, 217, 0.23);

}

.Info_detail p,
.Info_detail h2,
.Info_detail h4 {
    line-height: 0.7; /* 기본 글씨 크기에 따라 조절 가능한 값을 사용 */
}

.button-more {
    margin:auto;
    margin-top:30px;
}
.button-more button {
    background-color: #F3E6FF; 
    border: none;
    padding: 5px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width:1000px;
    height:50px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
}

.bottom {
    left:0;
    position:relative;
    width: 100%; /* 가로 폭을 100%로 설정하여 전체 너비를 차지함 */
    text-align: center;
    color: white;
    margin-top: 30px;
    align-items: center; /* 수직 가운데 정렬 */
    background-color: #7E05FE;
}

.bottom1 {
    display: flex;
    justify-content: center;
}

.bottom1 p{
    padding-top: 30px;
    margin-right:20px;
}

.bottom2 p{
    padding-bottom: 30px;
}