body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f8;
    color: #333;
}

.header {
    background: white;
    color: #7E05FE;
    padding: 20px;
    text-align: center;
    position: relative;
    font-size: 1.3rem;
}

/*.home-button {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 70px;
    height: auto;
}*/
/*--------------------------*/
.instructions {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    width: 95%;
    text-align: left;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    line-height: 0.8;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 95%;
    margin: 0 auto;
}

.search-options {
    display: flex;
    width: 16.8%;
    position: relative;
}

.button {
    padding: 10px 20px;
    margin-right: 10px;
    text-decoration: none;
    color: #000000;
    border: none;
    background-color: transparent;
    font-size:20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover,
.button.active {
    background-color: #f3e6ff;
    color: #000000;
}

.underline {
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 118%;
    height: 3px;
    background-color: #d8b2ff;
}
/*---------------------*/
.question-detail {
    background-color: white;
}

.detail-header {
    display: flex;
    justify-content: flex-end; /* 오른쪽 정렬 */
    align-items: center;
    margin-bottom: 10px;
    margin-right: 40px;
    gap: 10px; 
}

.row-title {
    width: 15%; 
    font-weight: bold;
    text-align: center; /* 타이틀 가운데 정렬 */
    margin-right: 10px;
}

.row-content {
    width: 80%; /* 내용의 폭 */
    text-align: left; /* 내용 왼쪽 정렬 */
    padding: 10px;
    border: 3px solid #f3e6ff; 
    border-radius: 5px; 
}

.detail-timestamp{
    font-weight: bold;
    color: black;
}

.detail-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/* 보라색 구분선 */
.file-divider {
    margin-top: 20px;
    width: 95%; 
    border-top: 2px solid #D8B2FF; 
}

.detail-photo {
    width: 50px; /* 이미지 크기 조정 */
    height: 50px; /* 이미지 크기 조정 */
    margin-right: 15px;
}

.icon-info {
    display: inline-block; /* 아이콘과 텍스트를 같은 줄에 배치 */
    vertical-align: middle;
}
/*sub page*/
.detail-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 15px; 
}

.detail-photo {
    width: 50px; /* 이미지 크기 조정 */
    height: 50px; /* 이미지 크기 조정 */
    margin-right: 15px;
}

/*----chating-----*/
.chat-section {
    background-color: white; /* 배경색 */
    padding: 20px; /* 내부 패딩 */
    margin: 20px; /* 외부 마진 */
    width: 95%;
    overflow-y: auto;
}

.message {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 95%;
    line-height: 1.5;
    clear: both;
}

.left-message {
    margin-left: 0;
    margin-right: auto; /* 왼쪽 정렬 */
}

.left-message .message-header {
    justify-content: flex-start; /* 왼쪽 메시지는 왼쪽 정렬 */
}

.left-message .message-body {
    text-align: left; /* 왼쪽 정렬 */
}

.right-message {
    margin-left: auto;
    margin-right: 0; /* 오른쪽 정렬 */
}

.right-message .message-body, 
.right-message .message-timestamp {
    text-align: right; /* 오른쪽 메시지 본문 및 타임스탬프 오른쪽 정렬 */
    margin-right: 110px;
}

.left-message .message-body,
.left-message .message-timestamp {
    text-align: left; /* 왼쪽 메시지 본문 및 타임스탬프 왼쪽 정렬 */
    margin-left: 110px;
}

.message-header {
    font-size: 1.1rem; /* 헤더 글자 크기 */
    color: #6A5ACD; /* 헤더 글자색 */
    display: flex;
    justify-content: flex-end; /* 이름과 시간을 양 끝으로 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    padding-top: 10px; /* 상단 패딩 추가 */
    width: 100%;
}

.username {
    font-weight: bold; /* 사용자 이름 강조 */
}

.message-timestamp {
    font-size: 0.9rem; /* 헤더 글자 크기 */
    color: #999; /* 시간 글자색 */
}

.message-body {
    font-size: 1.0rem; /* 본문 글자 크기 */
}

.user-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 20px;
}

/*----sending----*/
.chat-input-container {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: white;
    height: 50px;
}

.chat-input {
    flex-grow: 1;
    padding: 10px;
    margin-right: 30px;
    border: 3px solid #D8B2FF;
    border-radius: 5px;
}

.send-button {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-image: url("images/DISS_logo.png");
    background-size: cover;
    background-position: center;  /* 이미지를 버튼의 중앙에 위치시킵니다 */
    height: 40px;
    width: 5%;
}

.send-button:hover {
    background-color: #6a49cb;
}