.header {
    text-align: center; /* 이미지를 수평 가운데로 정렬 */
    margin-top: 20px; /* 로고와 상단 여백 설정 */
}
.header .logo { /*header 내부에 있는 logo 클래스에 대해서만 스타일 적용*/
    margin-left: 9vh; /* 로고 오른쪽 마진 추가 */
    max-width: 10%; /* 이미지의 최대 너비를 부모 요소에 맞게 조정 */
    height: auto; /* 세로 크기 자동 조정 */
}
.header .profile { /*header 내부에 있는 profile 클래스에 대해서만 스타일 적용*/
  float: right; /*이미지 오른쪽으로 뜨도록 조정*/
  margin-right: 1%; 
  max-width: 4%; /* 이미지의 최대 너비를 부모 요소에 맞게 조정 */
  height: auto; /* 세로 크기 자동 조정 */
}

.bottom {
    bottom: 0;
    position:fixed;
    width: 100%;
    background-color: #7E05FE;
    color: #fff;
    padding: 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin-top:5px; /*top 여백 안 하니까 메뉴들이랑 겹쳐서 여백 줌*/
  }
  .rule {
    flex: 1;
    text-align: center;
    padding: 10px;
    margin: 5px;
  }
  .email {
    clear: both; /* float 속성 초기화 */
    width: 100%; /* 전체 너비를 차지하도록 설정 */
    margin-bottom: 5px;
}

a {
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 기본 텍스트 색상으로 설정 */
}