
.login-form {
    margin: 10%;
    width: 80%;
    height: 40vh;
    background: white;
    text-align: center;
}

input[type="text"], input[type="password"] {
    width: 100%;
    height: 10vh;
    padding: 10px;
    margin-bottom: 10px;
    border: 3px solid #7E05FE;
    border-radius: 5px;
    box-sizing: border-box; /* 입력 필드 패딩 때문에 너비가 변하지 않도록 함 */
}

button {
    width: 100%;
    height: 10vh;
    padding: 10px;
    background-color: #7E05FE; /* 주어진 보라색 코드 적용 */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 4vh;
}

button:hover {
    background-color: #6904D9; /* 보라색의 어두운 음영 */
}
